@import 'base/modern-normalize';
@import 'utils/variables';
@import 'utils/mixins';
@import 'base/global-styles';

@import 'components/section';
@import 'components/container';

@import 'components/page-header';
@import 'components/logo';
@import 'components/site-nav';
@import 'components/contact-list';

@import 'components/section-hero';
@import 'components/button';

@import 'components/section-benefit';

@import 'components/section-work';

@import 'components/section-team';
@import 'components/social-list';

@import 'components/section-clients';

@import 'components/section-footer';
@import 'components/address';
@import 'components/subscribe-form';

@import 'components/section-portfolio';
@import 'components/_portfolio-card';

@import 'components/backdrop';
@import 'components/modal';
