/* контакти */

.address {
  font-style: inherit;
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  color: $color-main;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--gray {
  color: $color-text-contact;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
