/* контакти */

.contact-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 10px;
  fill: $color-text-main;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $color-accent;
    color: $color-accent;
  }
}

@media screen and (min-width: 768px) {
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .contact-list__link {
    font-size: 14px;

    line-height: 1.14;
  }
}
