/* постійні клієнти */

.section-clients__title {
  @include title-section;
}

.section-clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-clients__item {
  width: calc((100% - 30px) / 2);
}

.section-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid $color-icon;
  border-radius: 4px;
  outline: transparent;
  fill: $color-icon;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $color-accent;
    fill: $color-accent;
  }
}

@media screen and (min-width: 768px) {
  .section-clients__item {
    width: calc((100% - 2 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .section-clients__title {
    @include title-section(36px, 1.17, center, 50px);
  }

  .section-clients__list {
    flex-wrap: nowrap;
  }
}
