/* портфоліо */

.checked {
  color: $color-main;
  background-color: $color-accent;
  box-shadow: $color-shadow-filter;
}

.section-portfolio__list-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
  width: 326px;
}

.section-portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

.filter-radio {
  position: absolute;
  left: -100vw;
  opacity: 0;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .section-portfolio__list-filter {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
    width: 100%;
  }

  .section-portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .section-portfolio__item {
    width: calc((100% - 30px) / 2);
  }

  .section-portfolio__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio__list-filter {
    margin-bottom: 50px;
  }

  .section-portfolio__item {
    width: calc((100% - 2 * 30px) / 3);
  }
}
