/* наша команда */

.section-team {
  background-color: $color-bgn-light;
}

.section-team__title {
  @include title-section;
}

.section-team__item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background-color: $color-main;
  box-shadow: $color-shadow-card;
}

.section-team__item:not(:last-child) {
  margin-bottom: 30px;
}

.section-team__content {
  padding-top: 30px;
  padding-bottom: 24px;
}

.section-team__name {
  font-weight: 500;
  color: $color-text-secondary;
  margin-bottom: 10px;
}

.section-team__name,
.section-team__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-team__profession {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .section-team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .section-team__item {
    width: calc((100% - 30px) / 2);
  }

  .section-team__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-team__title {
    @include title-section(36px, 1.17, center, 50px);
  }

  .section-team__list {
    flex-wrap: nowrap;
  }

  .section-team__content {
    padding-bottom: 30px;
  }
}
