/* заголовок секції h2 */

@mixin title-section($fs: 28px, $lh: 1.18, $ta: center, $mb: 30px) {
  font-size: $fs;
  line-height: $lh;
  text-align: $ta;
  color: $color-text-secondary;
  margin-bottom: $mb;
}
