/* змінні для кольорів */

$color-main: #ffffff;
$color-accent: #2196f3;
$color-logo: #000000;

$color-text-main: #757575;
$color-text-secondary: #212121;
$color-text-contact: rgba(255, 255, 255, 0.6);

$color-bgn-light: #f5f4fa;
$color-bgn-dark: #2f303a;
$color-bgn-hero: #c4c4c4;
$color-bgn-label: rgba(47, 48, 58, 0.8);
$color-bgn-overlay: rgba(33, 150, 243, 0.9);
$color-bgn-backdrop: rgba(0, 0, 0, 0.2);

$color-border-card: #eeeeee;
$color-border-modal-close: rgba(0, 0, 0, 0.1);
$color-border-input: rgba(255, 255, 255, 0.3);
$color-border-modal-input: rgba(33, 33, 33, 0.2);

$color-btn-accent: #188ce8;
$color-line-header: #ececec;
$color-icon: #afb1b8;
$color-socials: rgba(255, 255, 255, 0.1);
$color-placeholder: rgba(117, 117, 117, 0.5);
$color-gradient: rgba(47, 48, 58, 0.4);

$color-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
$color-shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$color-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$color-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
