/* кнопка */

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: $color-text-secondary;
  background-color: $color-bgn-light;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // &--active,
  &:hover,
  &:focus {
    color: $color-main;
    background-color: $color-accent;
    box-shadow: $color-shadow-filter;
  }
}

.btn--main {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $color-main;
  background-color: $color-accent;
  padding: 10px 32px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-btn-accent;
    box-shadow: $color-shadow-button;
  }
}

.btn--form {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $color-main;
  background-color: $color-accent;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-btn-accent;
    box-shadow: $color-shadow-button;
  }
}

.btn__icon {
  fill: $color-main;
}
