/* модалка */

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 40px;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: $color-main;
  box-shadow: $color-shadow-card;
  transition-property: scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $color-border-modal-close;
  background-color: $color-main;
  fill: $color-logo;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: transparent;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $color-accent;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $color-text-secondary;
  margin-bottom: 12px;
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
}

.modal__form-wrap {
  position: relative;
  display: flex;
  align-items: center;
  outline: transparent;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid $color-border-modal-input;
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-wrap:hover .modal__form-input,
.modal__form-input:focus,
.modal__form-input--textarea:hover {
  border: 1px solid $color-accent;
}

.modal__form-icon {
  position: absolute;
  left: 12px;
  fill: $color-text-secondary;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-wrap:hover .modal__form-icon,
.modal__form-input:focus + .modal__form-icon {
  fill: $color-accent;
}

.modal__form-input--textarea {
  // width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  display: block;
}

.modal__form-input--textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $color-placeholder;
}

.modal__form-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.modal__form-label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__form-checkbox-castom {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid $color-text-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__form-checkbox:checked + .modal__form-label-checkbox .modal__form-checkbox-castom {
  background-color: $color-accent;
  border: $color-accent;
}

.modal__form-icon-check {
  fill: $color-main;
  opacity: 0;
}

.modal__form-checkbox:checked + .modal__form-label-checkbox .modal__form-icon-check {
  opacity: 1;
}

.modal__form-policy-link {
  color: $color-accent;
}
