/* герой */

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $color-bgn-hero;
  background: linear-gradient(to right, $color-gradient, $color-gradient),
    url('../images/section-hero/hero-image-bgn.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero__container {
  text-align: center;
}

.section-hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-main;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
